In [1]:
#Importing Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style = 'darkgrid', palette = 'viridis')
plt.rcParams['figure.figsize'] = (10,5)
plt.rcParams['figure.dpi'] = 250
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
# Load the Dataset

In [4]:
df = pd.read_csv(r"C:\Users\ahmed\Downloads\book.csv",encoding = 'ISO-8859-1', index_col=0)
df

       User.ID                                         Book.Title  Book.Rating
1       276726                                Classical Mythology            5
2       276729                                       Clara Callan            3
3       276729                               Decision in Normandy            6
4       276736  Flu: The Story of the Great Influenza Pandemic...            8
5       276737                             The Mummies of Urumchi            6
...        ...                                                ...          ...
9996    162121       American Fried: Adventures of a Happy Eater.            7
9997    162121                              Cannibal In Manhattan            9
9998    162121                    How to Flirt: A Practical Guide            7
9999    162121                                           Twilight            8
10000   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [5]:
#EDA

In [6]:
df.describe()

             User.ID  Book.Rating
count   10000.000000  10000.00000
mean    95321.249800      7.56630
std    117645.703609      1.82152
min         8.000000      1.00000
25%      2103.000000      7.00000
50%      3757.000000      8.00000
75%    162052.000000      9.00000
max    278854.000000     10.00000

In [7]:
df.isnull().sum()

User.ID        0
Book.Title     0
Book.Rating    0
dtype: int64

In [8]:
#There are no null values present in our data set

In [9]:
df.duplicated().sum()

2

In [10]:
df[df.duplicated(keep = False)]

      User.ID                 Book.Title  Book.Rating
5051     2152  Le nouveau soleil de Teur            7
5052     2152  Le nouveau soleil de Teur            7
7046     3757        The Magician's Tale            7
7440     3757        The Magician's Tale            7

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User.ID      10000 non-null  int64
 1   Book.Title   10000 non-null  object
 2   Book.Rating  10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 312.5+ KB

In [12]:
df.drop_duplicates(inplace = True)

In [13]:
# Checking Unique Users and Books

In [14]:
df['User.ID'].nunique()

2182

In [15]:
df['Book.Title'].nunique()

9659

In [16]:
# Model Building

In [17]:
df.shape

(9998, 3)

In [18]:
# User to User Based

In [19]:
pivot = pd.pivot_table(df, index='User.ID', columns='Book.Title', values=['Book.Rating'] , aggfunc='count')
pivot

                    Book.Rating                                             \
Book.Title  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
User.ID
8                           NaN                                        NaN
9                           NaN                                        NaN
10                          NaN                                        NaN
12                          NaN                                        NaN
14                          NaN                                        NaN
...                         ...                                        ...
278846                      NaN                                        NaN
278849                      NaN                                        NaN
278851                      NaN                                        NaN
278852                      NaN                                        NaN
278854                      NaN                                        NaN

                                          \
Book.Title  Repairing PC Drives &amp '48
User.ID
8                                NaN NaN
9                                NaN NaN
10                               NaN NaN
12                               NaN NaN
14                               NaN NaN
...                              ...  ..
278846                           NaN NaN
278849                           NaN NaN
278851                           NaN NaN
278852                           NaN NaN
278854                           NaN NaN

                                                                                  \
Book.Title 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                         \
Book.Title ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                \
Book.Title 01-01-00: A Novel of the Millennium
User.ID
8                                          NaN
9                                          NaN
10                                         NaN
12                                         NaN
14                                         NaN
...                                        ...
278846                                     NaN
278849                                     NaN
278851                                     NaN
278852                                     NaN
278854                                     NaN

                                                                         \
Book.Title 1,401 More Things That P*Ss Me Off 10 Commandments Of Dating
User.ID
8                                         NaN                       NaN
9                                         NaN                       NaN
10                                        NaN                       NaN
12                                        NaN                       NaN
14                                        NaN                       NaN
...                                       ...                       ...
278846                                    NaN                       NaN
278849                                    NaN                       NaN
278851                                    NaN                       NaN
278852                                    NaN                       NaN
278854                                    NaN                       NaN

                                                   ...  \
Book.Title 100 Great Fantasy Short, Short Stories  ...
User.ID                                            ...
8                                             NaN  ...
9                                             NaN  ...
10                                            NaN  ...
12                                            NaN  ...
14                                            NaN  ...
...                                           ...  ...
278846                                        NaN  ...
278849                                        NaN  ...
278851                                        NaN  ...
278852                                        NaN  ...
278854                                        NaN  ...

                                                                        \
Book.Title Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                       \
Book.Title \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                                   \
Book.Title \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                              \
Book.Title \More More More,\ Said the Baby \O\ Is for Outlaw
User.ID
8                                      NaN               NaN
9                                      NaN               NaN
10                                     NaN               NaN
12                                     NaN               NaN
14                                     NaN               NaN
...                                    ...               ...
278846                                 NaN               NaN
278849                                 NaN               NaN
278851                                 NaN               NaN
278852                                 NaN               NaN
278854                                 NaN               NaN

                                                                                    \
Book.Title \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
User.ID
8                                                         NaN
9                                                         NaN
10                                                        NaN
12                                                        NaN
14                                                        NaN
...                                                       ...
278846                                                    NaN
278849                                                    NaN
278851                                                    NaN
278852                                                    NaN
278854                                                    NaN

                                                                           \
Book.Title \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
User.ID
8                                             NaN                     NaN
9                                             NaN                     NaN
10                                            NaN                     NaN
12                                            NaN                     NaN
14                                            NaN                     NaN
...                                           ...                     ...
278846                                        NaN                     NaN
278849                                        NaN                     NaN
278851                                        NaN                     1.0
278852                                        NaN                     NaN
278854                                        NaN                     NaN


Book.Title stardust Ãƒ?Ã‚?bermorgen.
User.ID
8               NaN            NaN
9               NaN            NaN
10              NaN            NaN
12              NaN            NaN
14              NaN            NaN
...             ...            ...
278846          NaN            NaN
278849          NaN            NaN
278851          NaN            NaN
278852          NaN            NaN
278854          NaN            NaN

[2182 rows x 9659 columns]

In [20]:
# Filling up NA values

In [21]:
pivot.fillna(0, inplace = True)

In [22]:
pivot

                    Book.Rating                                             \
Book.Title  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
User.ID
8                           0.0                                        0.0
9                           0.0                                        0.0
10                          0.0                                        0.0
12                          0.0                                        0.0
14                          0.0                                        0.0
...                         ...                                        ...
278846                      0.0                                        0.0
278849                      0.0                                        0.0
278851                      0.0                                        0.0
278852                      0.0                                        0.0
278854                      0.0                                        0.0

                                           \
Book.Title  Repairing PC Drives &amp  '48
User.ID
8                                0.0  0.0
9                                0.0  0.0
10                               0.0  0.0
12                               0.0  0.0
14                               0.0  0.0
...                              ...  ...
278846                           0.0  0.0
278849                           0.0  0.0
278851                           0.0  0.0
278852                           0.0  0.0
278854                           0.0  0.0

                                                                                  \
Book.Title 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
User.ID
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                                         \
Book.Title ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
User.ID
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                \
Book.Title 01-01-00: A Novel of the Millennium
User.ID
8                                          0.0
9                                          0.0
10                                         0.0
12                                         0.0
14                                         0.0
...                                        ...
278846                                     0.0
278849                                     0.0
278851                                     0.0
278852                                     0.0
278854                                     0.0

                                                                         \
Book.Title 1,401 More Things That P*Ss Me Off 10 Commandments Of Dating
User.ID
8                                         0.0                       0.0
9                                         0.0                       0.0
10                                        0.0                       0.0
12                                        0.0                       0.0
14                                        0.0                       0.0
...                                       ...                       ...
278846                                    0.0                       0.0
278849                                    0.0                       0.0
278851                                    0.0                       0.0
278852                                    0.0                       0.0
278854                                    0.0                       0.0

                                                   ...  \
Book.Title 100 Great Fantasy Short, Short Stories  ...
User.ID                                            ...
8                                             0.0  ...
9                                             0.0  ...
10                                            0.0  ...
12                                            0.0  ...
14                                            0.0  ...
...                                           ...  ...
278846                                        0.0  ...
278849                                        0.0  ...
278851                                        0.0  ...
278852                                        0.0  ...
278854                                        0.0  ...

                                                                        \
Book.Title Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
User.ID
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                                       \
Book.Title \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
User.ID
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                                                   \
Book.Title \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
User.ID
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                              \
Book.Title \More More More,\ Said the Baby \O\ Is for Outlaw
User.ID
8                                      0.0               0.0
9                                      0.0               0.0
10                                     0.0               0.0
12                                     0.0               0.0
14                                     0.0               0.0
...                                    ...               ...
278846                                 0.0               0.0
278849                                 0.0               0.0
278851                                 0.0               0.0
278852                                 0.0               0.0
278854                                 0.0               0.0

                                                                                    \
Book.Title \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
User.ID
8                                                         0.0
9                                                         0.0
10                                                        0.0
12                                                        0.0
14                                                        0.0
...                                                       ...
278846                                                    0.0
278849                                                    0.0
278851                                                    0.0
278852                                                    0.0
278854                                                    0.0

                                                                           \
Book.Title \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
User.ID
8                                             0.0                     0.0
9                                             0.0                     0.0
10                                            0.0                     0.0
12                                            0.0                     0.0
14                                            0.0                     0.0
...                                           ...                     ...
278846                                        0.0                     0.0
278849                                        0.0                     0.0
278851                                        0.0                     1.0
278852                                        0.0                     0.0
278854                                        0.0                     0.0


Book.Title stardust Ãƒ?Ã‚?bermorgen.
User.ID
8               0.0            0.0
9               0.0            0.0
10              0.0            0.0
12              0.0            0.0
14              0.0            0.0
...             ...            ...
278846          0.0            0.0
278849          0.0            0.0
278851          0.0            0.0
278852          0.0            0.0
278854          0.0            0.0

[2182 rows x 9659 columns]

In [23]:
# Calculate the Distances and Similarities

In [24]:
from sklearn.metrics import pairwise_distances

In [25]:
pd.DataFrame(pairwise_distances(pivot,metric = 'cosine'))

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,3.330669e-16,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1.000000e+00,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,1.000000e+00,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,1.000000e+00,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,1.000000e+00,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
2178,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
2179,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
2180,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
2181,1.000000e+00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [26]:
#Similarity Calculation

In [27]:
similarity = pd.DataFrame(1-pairwise_distances(pivot,metric = 'cosine'))
similarity

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
#Convert every single diagonal values to 0
# Change Default index Number on both row and column side

In [29]:
np.fill_diagonal(similarity.values,0)

In [30]:
similarity

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
similarity.index = df['User.ID'].unique()
similarity.columns = df['User.ID'].unique()
similarity

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754,...,162085,162091,162092,162095,162103,162107,162109,162113,162121,162129
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# Find Similar Users

In [33]:
similarity.idxmax()

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
           ...
162107    276726
162109    276726
162113    161453
162121    276726
162129    276726
Length: 2182, dtype: int64

In [34]:
# Make Recommendations

In [35]:
df[(df['User.ID']== 162121) | (df['User.ID']==276726)]

      User.ID                                         Book.Title  Book.Rating
1      276726                                Classical Mythology            5
9991   162121                                  The Cloister Walk            7
9992   162121                                         Open Water            5
9993   162121                              The Evolution of Jane            8
9994   162121                                   AT PARADISE GATE            8
9995   162121  I Should Have Stayed Home: The Worst Trips of ...            8
9996   162121       American Fried: Adventures of a Happy Eater.            7
9997   162121                              Cannibal In Manhattan            9
9998   162121                    How to Flirt: A Practical Guide            7
9999   162121                                           Twilight            8

In [36]:
'''We can recommend User.Id = 276726 the Book Cannibal In Manhatten, Twilight, The evolution of Jane etc'''

'We can recommend User.Id = 276726 the Book Cannibal In Manhatten, Twilight, The evolution of Jane etc'